header {position: fixed; left: 0; top: 0; display: flex; justify-content: space-between; flex: 1; width: 100%; height: 145px; font-family: 'Poppins', sans-serif; font-size: 18px; padding: 0 70px;  z-index: 9; }
header .headerWrap {display: flex; justify-content: space-between; width: 100%; z-index: 1;
transition: 0.4s ease; color: #fff;}

/* header hide, color change 모션*/
header .headerWrap.hide {  transform: translateY(-145px);}
header .headerWrap.colorchange .rightBox li a { color: #161616;}
header .headerWrap.colorchange .rightBox li:last-child {border:  1px solid #161616;}
header .headerWrap.colorchange .rightBox li:last-child:hover { background-color: #161616;}
header .headerWrap.colorchange .rightBox li:last-child:hover a {color: #fff;}

header .logo {width: 208px; height: 145px; background:url('https://nana923.github.io/pitapat_2020/images/logo.png') center center no-repeat;}

header .rightBox {display: flex; justify-content:center; align-items: center; gap: 48.7px;} 
header .rightBox li {width: auto; height: 39px; text-align: center; font-weight: 600;  line-height: 39px;} 
header .rightBox li a {color: #fff;} 
header .rightBox li:last-child {width: 136px; border: 1px solid #fff;} 
header .rightBox li:last-child:hover {background-color: #fff;}
header .rightBox li:last-child:hover a {color: #161616;}
header .menuBox {display: none;}

/* ourworK이하부터 검정색 메뉴 */
header .rightBox.active {color: #161616;}
header .rightBox.active li:last-child {border: 1px solid #161616;} 

@media screen and (max-width:870px) {
    header {width: 100vw; height: auto; padding: 0; font-size: 0;}
    header.on {height: 100vh};    

    header .headerWrap {width: 100vw;}
    header .logo {width: 37vw; height: 18vw; background:url('https://nana923.github.io/pitapat_2020/images/logo_870.png') center center no-repeat; background-size: cover; z-index: 99;}

    header .rightBox{ position: fixed; top: 0; display: none;flex-direction: column; width: 100vw;height: 100%; color: #fff; background: #161616; font-size: 7.2vw; line-height: 10vw;}
    header.on .rightBox { display: flex;}
    header .rightBox li {height: auto; line-height: 1;}
    header .rightBox li:last-child {border: none; width: auto}

    header .menuBox {display: flex; justify-content: center; align-items: center; width: 18vw; height: 18vw; background-color: #161616; }
    header .menuBox .menuIcon {display: block; width: 9vw; height: 9vw; background:url('https://nana923.github.io/pitapat_2020/images/menu_ico.png') center center no-repeat; }

    header.on .menuBox .menuIcon {display: block; width: 38px; height: 34px; background:url('https://nana923.github.io/pitapat_2020/images/menu_close_ico.png') center center no-repeat; z-index: 99; }
}
