#wrap {position: relative; width: 100%; height: 100%;}
#wrap .container {background: #fff;}

/* MAIN 화면 */
#main {position: fixed; top: 0; left: 50%; margin-left: -50%; width: 100%; height: 100vh; z-index: -1; background: url('/public/images/main_bg.png') center center no-repeat; background-size: cover; }
#main .cont_wrap {position: fixed; top: 0; justify-content: center; align-items: center; width: 100%; box-sizing: border-box; padding: 18.189vh 0 10.452vh;}
#main .cont_wrap img{ width: 923px; margin: 0 auto;}

#main .letsgo { position: absolute; right: 3%; bottom: 6%; display: flex; gap: 13px; font-family: 'Poppins', sans-serif; font-size: 20px; color: #fff; font-weight: 500; writing-mode: vertical-lr; animation: boxdown 2s infinite alternate;}

@keyframes boxdown {
    0% {transform: translateY(80px);}
    100% {transform: translateY(40px);}
}

#main .letsgo > img {display: block; width: 31px; height: 31px;}


/* 공통 */
.cont_wrap .textBox .title { color: #161616;;}
.cont_wrap .textBox .title > .icon {width: 85px; height: 83px; background: center center no-repeat;}
.cont_wrap .textBox .title  h1 { font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 62px; line-height: 1;}

.cont_wrap .textBox > p {display: block; padding-top: 23.1px; font-size: 16px; font-weight: 400; letter-spacing: -0.025em; line-height: 26px; margin: 0 auto;}

/* OURWORK */
#ourwork {margin-top: 100vh;}
#ourwork .cont_wrap {display: block; width: 100%; max-width: 925px; min-height: 1118px; background-color: #fff; padding: 100px 0; margin: 0 auto;}
#ourwork .cont_wrap .textBox .title {display: flex; justify-content: flex-start; align-items: center; gap: 14px;}
#ourwork .cont_wrap .textBox .title > .icon {background-image: url('/public/images/ourwork_icon.png');}

#ourwork .cont_wrap .contentBox {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 70px 0;  width: 100%; max-width: 925px; margin: 60px 0 64px;} 
#ourwork .cont_wrap .contentBox > div {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 194px;}
#ourwork .cont_wrap .contentBox > div > img {width: 194px; height: 194px;}
#ourwork .cont_wrap .contentBox > div > .workText { display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 28.9px; font-family: 'Spoqa Han Sans Neo', sans-serif;}
#ourwork .cont_wrap .contentBox > div > .workText .subtext {font-size: 13px; font-weight: 400;  color:#B6B6B6; }
#ourwork .cont_wrap .contentBox > div > .workText .text { padding-top: 5px; font-size: 20px; font-weight: 500;  color:#161616; letter-spacing: -0.04em; line-height: 28px; }


#ourwork .cont_wrap .more {display: block; font-size: 16px; font-weight: 400; letter-spacing: -0.025em; line-height: 26px; color: #a1a1a1; margin: 0 auto; text-align: center;}

/* ABOUT US */ 
#aboutus .cont_wrap { display: block; width: 100%; height: 636px; background: url('/public/images/aboutus_bg.png') center center no-repeat; background-size: cover; padding: 98.1px 0 80.1px;}

#aboutus .cont_wrap .textBox {position: relative; width: 100%; max-width: 870px; margin: 0 auto;}
#aboutus .cont_wrap .textBox .light { position: absolute; top: 0; right: 0px; margin-top: -97px;
 margin-right: -93px; width: 384px; height: 350px;}
#aboutus .cont_wrap .textBox .light img {display: block; width: 100%; height: 100%;}

#aboutus .cont_wrap .textBox .title > h1 {font-size: 36px; line-height: 31.52px; margin-bottom: 25.4px;}
#aboutus .cont_wrap .textBox .title > p {font-size: 60px; font-weight: 600; line-height: 74px; margin-left: -6px; margin-bottom: 18.4px;} 



/* PARTNER */
#partner .cont_wrap {display: block; width: 100%; height: 657px; background-color: #fff; padding: 100px 0; }
#partner .cont_wrap .textBox  {max-width: 870px; margin: 0 auto 51px;}
#partner .cont_wrap .textBox > p {padding-top: 8px;}
#partner .cont_wrap .textBox .title {display: flex;  justify-content: flex-start; align-items: center; gap: 14px;}

#partner .cont_wrap .textBox .title > .icon {background-image: url('/public//images/partner_icon.png');}
#partner .cont_wrap .contentBox {width: 925px; margin-top: 46.9px; margin:  0 auto;}
#partner .cont_wrap .contentBox ul {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; width: 100%;}

#partner .cont_wrap .contentBox li {box-sizing: border-box; display: block; width: 184px; height: 144px; padding: 30px 26px 40px; border: 1px solid #ebebeb; border-left: none; }
#partner .cont_wrap .contentBox li:nth-child(1),
#partner .cont_wrap .contentBox li:nth-child(6){border-left: 1px solid #ebebeb;}
#partner .cont_wrap .contentBox img {vertical-align: middle; width: 132px; }



/*CONTACT US*/
#contact .cont_wrap {display: flex; height: 427px; overflow: hidden; }

#contact .cont_wrap .mapBox{display: flex; width: 50%; height: 427px;} 

#contact .cont_wrap .contactBox{display: flex; justify-content: flex-start; align-items: flex-start; gap: 72.6px; width: 50%; height: 100%; background: #2C2C2C; color: #fff;padding: 90px 0 96px 93.4px; z-index: 99; } 
#contact .cont_wrap .contactBox .co-leftBox {display: block;}
#contact .cont_wrap .contactBox .co-leftBox > h1 {margin-bottom: 28.2px; font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 36px; line-height: 1;}
#contact .cont_wrap .contactBox .co-leftBox > button {width: 203px; height: 65px; font-size: 21px; font-weight: 400; letter-spacing: -0.04em; line-height: 65px; border: 1px solid #fff; border-radius: 2px; color: #fff;}

#contact .cont_wrap .contactBox .co-rightBox {display: block;}
#contact .cont_wrap .contactBox .co-rightBox li:nth-child(1) {margin-bottom: 36px;}
#contact .cont_wrap .contactBox .co-rightBox li:nth-child(2) {margin-bottom: 28px;}

#contact .cont_wrap .contactBox .co-rightBox li b {display: block; margin-bottom: 15px; font-weight: 700; font-size: 18px; line-height: 20px;}
#contact .cont_wrap .contactBox .co-rightBox li p {display: block; font-weight: 400; font-size: 14px; line-height: 24px; letter-spacing: -0.04em;}


